#navigation-bar {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 120px;
    color: var(--white);
    transition: .5s background;
}

.content, .background {
    width: calc(100% - 60px);
    height: calc(100% - 60px);
    padding: 30px;
}
.content > .brand-container {
    display: inline-block;
    vertical-align: bottom;
    margin-right: 50px;
    font-size: 50px;
    font-weight: bolder;
}
.content > .brand-container > .outline {
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--white);

}

.content > .links {
    display: inline-block;
    opacity: .8;
    margin: 0;
    padding: 0;
    list-style: none;
    transition: .5s opacity;
}
#navigation-bar:hover .content > .links {
    opacity: 1;
}
.content > .links li {
    display: inline-block;
    margin: 0px 10px;
    text-align: center;
}
.content > .links a {
    font-size: 22px;
    cursor: pointer;
}
.content > .links a hr {
    border: none; outline: none;
    height: 4px;
    width: 0;
    margin: 0 auto;
    background-color: var(--brand);
    transition: 1s;
}
.content > .links a:hover hr {
    width: 100%;
}

.background {
    background: #000;
    opacity: 0;
    transition: .5s opacity;
}
#navigation-bar.scrolled .background {
    opacity: .8;
}