#navigation-bar {
    position: fixed;
    z-index: 999;
    padding: 20px;
    width: calc(100% - 40px);
    color: var(--white);
    background-color: var(--primary-black);
    box-shadow: 0 0 5px 1px #000;
}

/* override universal project link styling */
#navigation-bar a:hover {
    text-decoration: none;
}
/**/

.brand-name {
    margin: 0 auto;
    margin-right: 50px;
    font-size: 50px;
    font-family: cursive;
    font-weight: bolder;
    color: var(--white);
}

.links {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
    transition: .5s opacity;
}
.links li {
    display: inline-block;
    margin: 0px 10px;
    text-align: center;
}
.links a {
    font-size: 22px;
    color: var(--white);
}
.links a hr {
    border: none; outline: none;
    height: 4px;
    width: 0;
    margin: 0 auto;
    background-color: var(--brand);
    transition: 1s;
}
.links a:hover hr {
    width: 100%;
}