.splash {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}
.content, .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.content {
    z-index: 998;
    color: var(--white);
}
.content > .underline-effect {
    display: inline-block;
    margin: 0 auto;
    margin-top: 25%;
    user-select: none;
}
.content > .underline-effect > h1 {
    margin: 0;
    font-size: 95px;
    line-height: 150%;
    color: var(--white);
    text-shadow: 0 0 4px #2e2e2e;
}
.content > .underline-effect > hr {
    border: none;
    outline: none;
    margin: 0 auto;
    margin-top: -85px;
    margin-left: -20px;
    height: 18px;
    width: calc(100% + 40px);
    background: linear-gradient(var(--light-brand), var(--brand));
    box-shadow: 0 0 5px .5px #2e2e2e;
}
.content > .underline-effect > p {
    margin-top: 35px;
    font-size: 30px;
    text-shadow: 0 0 4px #2e2e2e;
}
.image img {
    width: 100%;
    user-select: none;
    filter: brightness(80%);
}

.next-section-button {
    position: absolute;
    margin: 0 auto;
    padding: 20px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 80px;
    background-color: var(--brand);
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    opacity: .8;
    transition: .5s opacity;
    cursor: pointer;
}
.next-section-button:hover {
    opacity: 1;
}

/* down arrow */
.next-section-button > img {
    transform: rotate(90deg);
    width: 30px;
    margin-top: 20px;
}