.splash {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}
.content, .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.content {
    z-index: 998;
    color: var(--white);
}
.content > .underline-effect {
    display: inline-block;
    margin: 0 auto;
    margin-top: 25%;
    user-select: none;
}
.content > .underline-effect > h1 {
    margin: 0;
    font-size: 95px;
    line-height: 150%;
    color: var(--white);
    text-shadow: 0 0 4px var(--primary-black);
}
.content > .underline-effect > hr {
    border: none;
    outline: none;
    margin: 0 auto;
    margin-top: -85px;
    margin-left: -20px;
    height: 18px;
    width: calc(100% + 40px);
    background: linear-gradient(var(--light-brand), var(--brand));
    box-shadow: 0 0 5px .5px var(--primary-black);
}
.content > .underline-effect > p {
    margin-top: 35px;
    font-size: 30px;
    text-shadow: 0 0 4px var(--primary-black);
}
.image {
    background-color: var(--primary-black);
}
.image img {
    width: 100%;
    user-select: none;
    filter: brightness(80%) contrast(85%);
}

/* next section button */
.next-section-button {
    position: absolute;
    margin: 0 auto;
    padding: 15px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 80px;
    background: radial-gradient(
        var(--tertiary-black),
        var(--primary-black)
    );
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    box-shadow: 0 0 5px 1px var(--primary-black);
    cursor: pointer;
    transition: .5s transform;
}
.next-section-button:hover {
    transform: scale(1.1);
}

/* down arrow */
.next-section-button > img {
    transform: rotate(90deg);
    width: 30px;
    margin-top: 20px;
}