.splash {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}
.content, .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.content {
    z-index: 998;
    color: var(--white);
}
.content > .underline-effect {
    margin-top: 15%;
    margin-left: 10%;
    text-align: left;
    width: 700px;
}
.content > .underline-effect > h1 {
    margin: 0;
    font-family: Zapfino;
    font-size: 100px;
    line-height: 150%;
    color: var(--white);
    text-shadow: 0 0 4px #2e2e2e;
}
.content > .underline-effect > hr {
    margin: 0;
    margin-top: -100px;
    margin-left: -10px;
    border: none; outline: none;
    height: 25px;
    background: linear-gradient(var(--light-brand), var(--brand));
    width: 450px;
    box-shadow: 0 0 5px .5px #2e2e2e;
}
.content > .underline-effect > p {
    margin-top: 35px;
    font-size: 30px;
    text-shadow: 0 0 4px #2e2e2e;
}
.image img {
    width: 100%;
    user-select: none;
    filter: contrast(80%), brightness(50%);
}

.next-section-button {
    display: flex;
    width: 60px;
    height: 60px;
    background: radial-gradient(var(--brand), var(--light-brand));
    border: none; outline: none;
    border-radius: 100%;
    cursor: pointer;
    box-shadow: 0 0 5px .5px #2e2e2e;
    margin: 0 auto;
    text-align: center;
    opacity: .8;
    transition: .5s opacity;
}
.next-section-button:hover {
    opacity: 1;
}
.next-section-button > img { /* right arrow image */
    display: block;
    width: 50%;
    height: 50%;
    margin: auto;
    transform: rotate(90deg);
}