
.node {
    display: inline-block;
    margin: 20px;
    width: 300px;
    padding: 30px 15px;
    /*
    border-radius: 20px;
    box-shadow: 0 0 5px 5px var(--secondary-white);
    border: solid 3px var(--eggshell);
    */
    background-color: var(--white);
    box-shadow: 0 0 5px 5px var(--secondary-white);
    border-radius: 20px;
    overflow: hidden;
    transition: 1s;
}

/* storefront image */
.node > .photo {
    display: block;
    margin: -30px 0 0 -15px;
    width: calc(100% + 30px);
    height: 150px;
    overflow: hidden;
    background-color: var(--secondary-white);
}
.node > .photo > img {
    width: 100%;
}
.node > hr {
    border: 0;
    outline: 0;
    width: calc(100% + 30px);
    margin: 0 0 30px -15px;
    height: 8px;
    background: linear-gradient(to right, var(--brand), var(--light-brand), var(--brand));
}
/**/

.node > text {
    display: block;
    color: var(--secondary-black);
}


/* text */
.node > text.address {
    font-weight: bold;
    font-size: 25px;
    color: var(--primary-black);
}
.node > text.location {
    font-size: 20px;
    font-style: italic;
}
.node text.phone {
    color: var(--primary-black);
}

/* contact info divs */
.node > div.inline-info {
    display: inline-block;
    padding: 8px;
}
.node > div.inline-info > img {
    display: block;
    width: 36px;
    margin: 15px auto;
}