.App {

  /* define colors that work across the entire application */
  --brand: #C87E75;
  --light-brand: #e19b98;
  --white: #fff;
  --eggshell: #D6D6D6;
  --secondary-white: #bdbdbd;
  --primary-black: #1C1C1C;
  --secondary-black: #585858;
  /* */

  background-color: var(--eggshell);
  min-height: 200vh;

  /* avoid application going off the side of screen */
  position: relative;
  max-width: 100%;
  overflow: hidden;
  /* */

  /* smooth scroll */
  scroll-behavior: smooth;

  /* default font */
  font-family: Helvetica;

  text-align: center;
  color: var(--primary-black);
}

/* use this for all pages not Homepage */
.offset-for-navbar {
  padding-top: 140px;
  width: 100%;
}

.brand {
  color: var(--brand);
  background: linear-gradient(to bottom, var(--light-brand), var(--brand));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1 {
  font-size: 55px;
  font-family:'Times New Roman', Times, serif;
  font-weight: lighter;
  text-align: center;
  color: var(--primary-black);
}

a {
  text-decoration: none;
  color: var(--brand);
}
a:hover {
  text-decoration: underline;
}

cursive {
  font-family: Zapfino;
}