.App {

  /* define colors that work across the entire application */
  --brand: #C87E75;
  --white: #fff;
  --eggshell: #D6D6D6;
  --secondary-white: #bdbdbd;
  /* */

  background-color: var(--eggshell);
  min-height: 200vh;

  /* avoid application going off the side of screen */
  position: relative;
  max-width: 100%;
  overflow: hidden;
  /* */

  /* smooth scroll */
  scroll-behavior: smooth;

  /* default font */
  font-family: Helvetica;
}

.brand {
  color: var(--brand);
}

h1 {
  margin: 0;
  font-size: 55px;
  font-family:'Times New Roman', Times, serif;
}

a {
  text-decoration: none;
  color: var(--brand);
}