.App {

  /* define colors that work across the entire application */
  --brand: #C87E75;
  --white: #fff;
  --eggshell: #D6D6D6;
  --secondary-white: #bdbdbd;
  /* */

  background-color: var(--eggshell);
  min-height: 200vh;

  /* avoid application going off the side of screen */
  position: relative;
  max-width: 100%;
  overflow: hidden;
  /* */
}

.brand {
  color: var(--brand);
}

h1 {
  margin: 0;
}